.M_h2a {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.M_ArticleTextBox {
  width: 21.48vw;
  height: 11.33vw;
  background-color: #f7d9ff;
  border-radius: 1.3vw;
  .A_h3Article {
    padding: 2.3vw 2.3vw 0;
  }
  .A_pArticle {
    padding: 0.7vw 2.3vw 0;
  }
}
.M_PodcastTextBox {
  width: 14.9vw;
  height: 9.7vw;
  background-color: #f7d9ff;
  border-radius: 1.3vw;
  .A_h3Podcast {
    padding-top: 2.3vw;
    padding-left: 2vw;
  }
  .A_pPodcast {
    padding-top: 0.7vw;
    padding-left: 2vw;
  }
}
.M_CardTextBox {
  width: 32.76vw;
  height: 9.6vw;
  background-color: #fff;
  border: 4px solid #ff9d66;
  border-radius: 1.3vw;
  .A_h3Card {
    padding: 2.3vw 2vw 0;
  }
  .A_pCard {
    padding: 0.7vw 2vw 0;
  }
}

.M_CardTextBoxS {
  width: 32.76vw;
  height: auto;
  background-color: #fff;
  border: 4px solid #ff9d66;
  border-radius: 1.3vw;
  .A_h3Card {
    padding: 2.3vw 2vw 0;
  }
  .A_pCard {
    padding: 0.7vw 2vw 2vw;
  }
}
.M_Otst {
  margin-left: 2.2vw;
}

.M_Links {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 4vw;
  .Q_IconTg {
    margin-left: 50vw;
  }
  .Q_IconVk {
    margin-left: 1vw;
  }
}

.M_MerchText {
  margin-top: 3vw;
  margin-left: 19vw;
  .A_pMerchA {
    margin-top: 1vw;
  }
}

.M_TextFooter {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 2vw;
  p {
    color: #f1b8ff;
    &:nth-of-type(2) {
      margin-left: 49.5vw;
    }
  }
}
