.Q_Arrow {
  width: 1.65vw;
  height: 1vw;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}
.Q_IconTg,
.Q_IconVk {
  width: 3.5vw;
  height: 3.5vw;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.Q_ArticleImg {
  width: 34.7vw;
  height: 20.3vw;
  border-radius: 1.4vw;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}
.Q_PodcastImg {
  width: 10vw;
  height: 10vw;
  border-radius: 1.4vw;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}
.Q_CheklistImg {
  // width: 10vw;
  // height: 10vw;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}
.Q_Spark {
  width: 3vw;
  height: 2vw;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}
