.SO_Articles {
  .A_h2Articles {
    display: block;
  }
  .C_Articles {
    display: block;
    margin-top: 2.4vw;
  }
}
.SO_Cards {
  .A_h2Cards {
    display: block;
  }
  .C_Cards {
    display: block;
    margin-top: 2.4vw;
  }
}
.SO_Podcasts {
  .A_h2Podcasts {
    display: block;
  }
  .C_Podcasts {
    display: block;
    margin-top: 2.4vw;
  }
}
.SO_Checklists {
  .A_h2Checklists {
    display: block;
  }
  .C_Checklists {
    display: block;
    margin-top: 2.4vw;
  }
}
