.W_FirstScreen {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 3vw;
  margin-bottom: 10vw;
  img {
    width: 69.73vw;
    height: 41.72vw;
  }
}
.W_Podcast {
  width: auto;
  height: auto;
  display: flex;
  margin-left: 15.5vw;
  margin-top: 2.2vw;
  .A_Pleer {
    margin-top: 8.5vw;
    margin-left: 2.7vw;
  }
}
