.h2About1,
.h2About2,
.big_icon {
  display: block;
  background-position: top center;
  background-repeat: no-repeat;
}
.h2About1 {
  margin-top: 5vw;
  margin-left: 15.8vw;
  width: 24.08vw;
  height: 3.18vw;
  background: url('images/h2About1.svg');
  background-size: 24.08vw 3.18vw;
}
.h2About2 {
  margin-top: 4vw;
  margin-left: 15.8vw;
  width: 40.6vw;
  height: 7.15vw;
  background: url('images/h2About2.svg');
  background-size: 40.6vw 7.15vw;
}
.About_p_big {
  p {
    font-size: 1.9vw;
    margin-top: 2.5vw;
    margin-left: 15.5vw;
  }
}
.About_minblock {
  display: flex;
  margin-top: 3vw;
  margin-left: 15.8vw;
  img {
    width: 3vw;
    height: 3vw;
  }
  h3 {
    font-size: 1.8vw;
    margin-top: 0.75vw;
    margin-left: 0.8vw;
    font-weight: 800;
  }
}
.About_p {
  p {
    font-size: 1.8vw;
    margin-top: 0.8vw;
    margin-left: 19.5vw;
  }
}
.big_icon {
  position: absolute;
  margin-top: 12vw;
  margin-left: 58vw;
  width: 30.35vw;
  height: 48.95vw;
  background: url('images/big_icon.png');
  background-size: 30.35vw 48.95vw;
}
