.card_1 {
  .Konkur {
    width: 12.57vw;
    height: 2.9vw;
    display: block;
    background: url('images/Cards/h2Konkur.svg');
    background-position: top center;
    background-size: 12.57vw 2.9vw;
    background-repeat: no-repeat;
  }
  .Also {
    width: 25.77vw;
    height: 2.38vw;
    display: block;
    margin-top: 7vw;
    background: url('images/Cards/ReadAlso.svg');
    background-position: top center;
    background-size: 25.77vw 2.38vw;
    background-repeat: no-repeat;
  }
}
