body.splash_screen {
  background-color: #a1fc01;
  font-family: Navigo;

  .icons {
    margin-top: 2vw;
    margin-left: 86.5vw;
  }
  .tg {
    height: 2vw;
    width: 2.2vw;
  }
  .vk {
    height: 2vw;
    width: 3.1vw;
    margin-left: 1vw;
  }
  .logo {
    display: block;
    width: 65.3vw;
    height: 11.3vw;
    margin: 0 auto;
    margin-top: 8.5vw;
  }
  h1 {
    text-align: center;
    margin-top: 3vw;
    font-size: 2.1vw;
    font-weight: 400;
  }
  h2 {
    display: inline-block;
    margin-top: 7vw;
    font-size: 1.7vw;
    font-weight: 800;
  }
  h2:nth-of-type(1) {
    margin-left: 7vw;
  }
  h2:nth-of-type(2) {
    margin-left: 13.5vw;
  }
  h2:nth-of-type(3) {
    margin-left: 12.5vw;
  }
  h2:nth-of-type(4) {
    margin-left: 13vw;
  }
  p {
    display: inline-block;
    margin-top: 0.7vw;
    font-size: 1.4vw;
    font-weight: 400;
    width: 20.5vw;
  }
  p:nth-of-type(1) {
    margin-left: 7vw;
  }
  p:nth-of-type(2) {
    margin-left: 1.1vw;
  }
  p:nth-of-type(3) {
    margin-left: 1.1vw;
  }
  p:nth-of-type(4) {
    margin-left: 1.1vw;
  }
  p:nth-of-type(5) {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 10vw;
    width: auto;
  }
  form {
    margin-bottom: 5vw;
  }
  input {
    display: inline-block;
    margin-top: 1vw;
    margin-left: 34vw;
    height: 2vw;
    width: 20vw;
    border-radius: 30px;
    border: 0px;
    padding-left: 10px;
    font-family: Navigo;
    font-size: 1.1vw;
  }
  button {
    display: inline-block;
    margin-top: 1.2vw;
    margin-left: 0.7vw;

    height: 2vw;
    width: 10vw;
    border-radius: 30px;
    border: 0px;
    background-color: white;
    font-family: Navigo;
    font-size: 1.1vw;
  }
  #my-form-status {
    display: block;
    margin: 0 auto;
    margin-top: 1vw;
  }
}
