.index {
  // height: 278vw;
  // background: url(images/fonIndex.png);
  // background-repeat: no-repeat;

  // Меню

  .M_h2a {
    margin-top: 6vw;
    .A_WatchAll {
      #pArticles {
        margin-left: 45vw;
      }
      #pPodcasts {
        margin-left: 38.7vw;
      }
      #pCards {
        margin-left: 40vw;
      }
      #pChecklists {
        margin-left: 36.6vw;
      }
      #pMerch {
        margin-left: 48vw;
      }
    }
  }
}

.O_Footer {
  margin-top: 10vw;
}
