body.razdel-merch { 
    
    .header {text-align: center;}

    .header ul {list-style: none;
                margin: 0px;
                margin-top: 10px;}

    .header li {display: inline;
                margin: 60px;}

    .cent {text-align: center;
            margin-top: 150px;}

    a {text-decoration: none;
        color: inherit;}

}
