.notepad_1 {
  .Also {
    width: 30.2vw;
    height: 2.97vw;
    display: block;
    margin-top: 7vw;
    background: url('images/Merch/WatchAlso.svg');
    background-position: top center;
    background-size: 30.2vw 2.97vw;
    background-repeat: no-repeat;
  }
}
